@font-face { font-family: 'Sharp Grotesk DB Cyr Medium 22'; src: url('./0b6986b36b7d81188f996e58f2ec0643.ttf'); src: url('./0b6986b36b7d81188f996e58f2ec0643.woff'); }
@font-face { font-family: 'Gilroy-bold'; src: url('./1064f0ad1cb65fdab43bb592ddd8aa91.ttf'); src: url('./1064f0ad1cb65fdab43bb592ddd8aa91.woff'); }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
}
body{
    background: #0D0D0D;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.grip{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: -1;
    width: 800px;
}
.vertical{
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) translateX(40%) rotate(-90deg);
    color: white;
    cursor: pointer;
    z-index: 3
}
.container{
    padding-top: 50px;
}
.container h1{
    color: white;
    font-size: 70px;
}
.container h1 span{
    -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #ffffff;
  color: #0D0D0D;
}
.container p{
    margin-top: 20px;
    color: #9A9A9A;
}
.cta{
    position: relative;
    z-index: 2;
    margin-top: 40px;
    background: #0159F8;
    padding: 20px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.cards{
    width: 600px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.info{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
}
.info img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
}
.info .main{
    width: 60%;
    margin: auto;
}
.info p{
    font-family: 'Gilroy-Bold';
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
}

.overlay{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.453);
    z-index: 15;
    transform: translateY(30px);
}
.closer{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.453);
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 40px;
    border-radius: 30px;
    background: #0D0D0D;
    height: 450px;
    color: white;
    overflow: hidden;
    text-align: center;
}
.form1{
    position: relative;
}
.form2{
    position: relative;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10%);
    display: none;
}
.form span{
    font-size: 20px;
}
.form input{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #2E2E2E;
    background: #0D0D0D;
    width: 100%;
    margin-top: 25px;
    outline: none;
    color: white;
}
::placeholder{
    color: #474747;
}
.form img{
    width: 90%;
    pointer-events: none;
}
.form button{
    margin-top: 40px;
    background: #0159F8;
    padding: 20px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 100%;
}
.form p{
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
}
.form .close{
    margin-top: 20px;
    cursor: pointer;
}

@media(min-width: 1530px){
    .grip{
        bottom: 300px;
        width: 1000px;
    }
    .cards{
        width: 60%;
    }
    .info .main{
        width: 1500px;
    }
}
@media(max-width: 1125px){
    .info .main{
        width: 90%;
    }
}
@media(max-width: 630px){
    .container{
        padding-top: 100px;
    }
    .container h1{
        font-size: 40px;
    }
    .cards{
        width: 90%;
    }
    .info p{
        font-size: 15px;
    }
    .grip{
        width: 100%;
    }
}
@media (max-width: 400px){
    .form{
        width: 90%;
        padding: 20px;
        height: 410px;
    }
    .form img{
        width: 90%;
    }
}