@font-face { font-family: 'Sharp Grotesk DB Cyr Medium 22'; src: url('./0b6986b36b7d81188f996e58f2ec0643.ttf'); src: url('./0b6986b36b7d81188f996e58f2ec0643.woff'); }
@font-face { font-family: 'Gilroy-bold'; src: url('./1064f0ad1cb65fdab43bb592ddd8aa91.ttf'); src: url('./1064f0ad1cb65fdab43bb592ddd8aa91.woff'); }
@font-face { font-family: 'Gilroy-SemiBold'; src: url('./Gilroy-SemiBold.ttf'); src: url('./Gilroy-SemiBold.woff');}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sharp Grotesk DB Cyr Medium 22', sans-serif;
}
body{
    background: #0D0D0D;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    cursor: none;
}
.cursor{
    top: 0;
    left: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    display: grid;
    place-items: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor div{
    content: '';
    width: 15%;
    height: 15%;
    background: white;
    border-radius: 100%;
    transition: all .3s;
}
.grip{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: -1;
    width: 800px;
}
.vertical{
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) translateX(34%) rotate(-90deg);
    color: #9D9D9D;
    cursor: pointer;
    z-index: 3;
}
.vertical::after{
    content: '';
    width: 1px;
    height: 18px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    transform: translateX(-50%) translateY(120%);
    right: 50%;
}
.building.mobile{
    display: none;
}
.container{
    padding-top: 50px;
}
.container h1{
    color: white;
    font-size: 62px;
}
.container h1 span{
    -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ffffff;
  color: #0D0D0D;
  transition: all .2s;
}
.container h1.desktop span:hover{
  color: #FFFFFF;
}
.container h1.mobile{
    display: none;
}
.container p{
    margin-top: 20px;
    color: #9A9A9A;
    font-family: 'Gilroy-SemiBold';
    font-size: 18px;
}
.cta{
    position: relative;
    z-index: 2;
    margin-top: 40px;
    background: #0159F8;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    font-family: 'Gilroy-SemiBold';
    cursor: pointer;
    font-size: 15px
}
.cards{
    width: 700px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.info{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
}


.info img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    width: 600px;
}
.info .main{
    width: 60%;
    margin: auto;
}
.info p{
    position: relative;
    font-family: 'Gilroy-SemiBold';
    color: white;
    margin-bottom: 30px;
    font-size: 26px;
    z-index: 3;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.buttons .p{
    position: relative;
    margin-left: 30px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    font-family: 'Gilroy-Semibold';
    z-index: 5;
}
.buttons .cta{
    margin-top: 0;
}
.overlay{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.453);
    z-index: 15;
    transform: translateY(30px);
    backdrop-filter: blur(10px);
}
.closer{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.453);
    backdrop-filter: blur(10px);
}
.form{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    background: #0D0D0D;
    height: 450px;
    color: white;
    overflow: hidden;
    text-align: center;
}
.form1{
    position: relative;
}
.form2{
    position: relative;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10%);
    display: none;
}
.form2 p{
    font-family: 'Sharp Grotesk DB Cyr Medium 22';
    font-size: 20px;
}
.form span{
    font-size: 20px;
}
.form span img{
    width: 25px;
    transform: translateY(10px);
}
.form input{
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2E2E2E;
    background: #080808;
    width: 100%;
    margin-top: 25px;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: 'Gilroy-Semibold';
}
::placeholder{
    color: #474747;
    font-family: 'Gilroy-Semibold';
}
.form img{
    width: 90%;
    pointer-events: none;
}
.form button{
    margin-top: 40px;
    background: #0159F8;
    padding: 20px 15px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Gilroy-SemiBold'
}
.form p{
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Gilroy-SemiBold'
}
.form2 p{
    font-family: 'Sharp Grotesk DB Cyr Medium 22';
    font-size: 20px;
}
.form .close{
    margin-top: 20px;
    cursor: pointer;
}

@media(min-width: 1530px){
    .container{
        padding-top: 150px;
    }
    .grip{
        bottom: 20px;
        width: 1000px;
    }
    .cards{
        width: 55%;
    }
    .info .main{
        width: 900px;
    }
    .info img{
        width: 800px;
    }
}
@media(max-width: 1125px){
    .info .main{
        width: 80%;
    }
}
@media(max-width: 630px){
    .container{
        padding-top: 40px;
    }
    .container h1{
        font-size: 48px;
    }
    .container h1.desktop{
        display: none;
    }
    .container h1.mobile{
        display: block;
    }
    .cards{
        width: 90%;
    }
    .info p{
        font-size: 15px;
    }
    .grip{
        width: 700px;
    }
}
@media (max-width: 586px){
    body{
        cursor: default;
    }
    .cursor{
        display: none;
    }
    .info img{
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        width: 300px;
    }
    .form{
        width: 100%;
        padding: 40px;
        padding-top: 50px;
        height: 410px;
        bottom: 0;
        transform: translate(-50%, 0%);
        border-radius: 20px 20px 0px 0px;
    }
    .form img{
        width: 55%;
    }
    .building.desktop{
        display: none;
    }
    .building.mobile{
        position: relative;
        display: block;
        margin-top: 25px;
        color: white;
        font-family: 'Gilroy-Semibold';
        cursor: pointer;
        z-index: 7;
    }
    .building.mobile::after{
        content: '';
        width: 30%;
        height: 2px;
        background-color: #FFFFFF;
        position: fixed;
        bottom: 0;
        transform: translateX(-50%) translateY(8px);
        left: 50%;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons .p{
        position: relative;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 17px;
        color: white;
        cursor: pointer;
        font-family: 'Gilroy-Semibold';
        z-index: 5;
    }
    .buttons .cta{
        padding: 16px 25px;
    }

}